<!DOCTYPE html>
<html>
  <head>
    <title>Search Giphy and Send via SMS</title>
  </head>
  <body>
    <div>
      <form id="frm_send_image" method="post" action="/">
        <div style="width:10%;float:left">
          Image Search Term
        </div>
        <input type="text" name="search_term" size="21" maxlength="120"><br/><br/>
        <div style="width:10%;float:left">
          Recipient Cell #
        </div>
        <input type="text" name="cell_number" size="21" maxlength="120"><br/><br/>
        <input type="submit" value="Search and Send">
      </form>
  </body>
</html>

